[MASTER]
# Опции по умолчанию для pylint

# Отключить предупреждения о неиспользуемых аргументах функций и строки документации
disable=missing-docstring, invalid-name, W0613

[MESSAGES CONTROL]
# Конфигурация сообщений

# Отключить сообщения о неиспользуемых аргументах функций
disable=W0613

[FORMAT]
# Максимальная длина строки
max-line-length=120

[TYPECHECK]
# Использовать 4 пробела для отступов
indent-string='    '

[WHITESPACE]
# Проверка пробелов вокруг операторов и перед открывающей скобкой аргументов функций
# Проверка наличия пробелов после запятых в аргументах функций
# Проверка наличия пробелов после запятых в аргументах функций
